{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="ferestre_simple">
        <h1>Ferestre simple</h1>
        <div class="container">
            <div class="row" id="row">
                <div class="padding-up"></div>
                {% for fereastra in ferestre %}
                    <div class="col-md-6">
                        <div class="thumbnail text-center">
                            <div class="padding-up"></div>
                            <img src="{{ fereastra.imagePath }}" alt="{{ fereastra.name }}">
                            <div class="caption">
                                <h3>{{ fereastra.name }}</h3>
                                <p>Dimensiuni : {{ fereastra.width }}x{{ fereastra.height }}</p>
                                <p>Deschidere : {{ fereastra.opening }}</p>
                                <p>Culoare : {{ fereastra.color }}</p>
                                <h3>Pret : {{ fereastra.price }} lei </h3>
                                {% if app.user %}
                                    <p><a href="/cart.php?action=add&productId=<?php echo $fereastra['id']; ?>"
                                          class="btn btn-primary" role="button"><span
                                                    class="glyphicon glyphicon-shopping-cart"></span> Adauga in cos</a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="padding-down"></div>
            </div>
        </div>
        <div class="padding-down"></div>
    </div>
{% endblock %}