<div class="col-md-6">
    <div class="thumbnail text-center">
        <div class="padding-up"></div>
        <img src="{{ entity.imagePath }}" alt="{{ entity.name }}">
        <div class="caption">
            <h3>{{ entity.name }}</h3>
            <p>Dimensiuni : {{ entity.width }}x{{ entity.height }}</p>
            <p>Deschidere : {{ entity.opening }}</p>
            <p>Culoare : {{ entity.color }}</p>
            <h3>Pret : {{ entity.price }} lei </h3>
            {% if app.user %}
                <a href="{{ path('shopping_cart_add', {'id': entity.id}) }}" class="btn btn-primary" role="button">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Adauga in cos
                </a>
            {% else %}
                <a href="{{ path('login') }}" class="btn btn-primary" role="button">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Adauga in cos
                </a>
            {% endif %}
        </div>
    </div>
</div>