{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    Tamplarie PVC
{% endblock %}

{% block content %}
    <h1 class="text-center">Tamplarie PVC</h1>
    <div class="spacer30"></div>
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="{{ path('ferestre_simple') }}"><img
                                src="{{ asset('bundles/app/imgs/tamplariepvc/ferestre_simple.png') }}"></a>
                    <div class="caption text-center">
                        <h3><a href="{{ path('ferestre_simple') }}"> Ferestre simple </a></h3>
                        <p><a href="{{ path('ferestre_simple') }}" class="btn btn-primary" role="button">Vezi produse</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="{{ path('ferestre_duble') }}"><img
                                src="{{ asset('bundles/app/imgs/tamplariepvc/ferestre_duble.png') }}"></a>
                    <div class="caption text-center">
                        <h3><a href="{{ path('ferestre_duble') }}"> Ferestre duble </a></h3>
                        <p><a href="{{ path('ferestre_duble') }}" class="btn btn-primary" role="button">Vezi produse</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="{{ path('usi_balcon') }}"><img src="{{ asset('bundles/app/imgs/tamplariepvc/usa-interior.png') }}"></a>
                    <div class="caption text-center">
                        <h3><a href="{{ path('usi_balcon') }}"> Usi de balcon </a></h3>
                        <p><a href="{{ path('usi_balcon') }}" class="btn btn-primary" role="button">Vezi produse</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="{{ path('usi_interior') }}"><img
                                src="{{ asset('bundles/app/imgs/tamplariepvc/usa-exterior.png') }}"></a>
                    <div class="caption text-center">
                        <h3><a href="{{ path('usi_interior') }}"> Usi de interior </a></h3>
                        <p><a href="{{ path('usi_interior') }}" class="btn btn-primary" role="button">Vezi produse</a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}