<nav class="navbar">
    <div class="header">
        <div class="container">
            <div class="sigla">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('bundles/app/imgs/mgtec.png') }}"/>
                </a>
            </div>
            <div class="termotec">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('bundles/app/imgs/termotec.png') }}"/>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="navbar-header navbar-default">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menuNavBar"><span class="sr-only">Toggle navigation</span><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <nav id="menuNavBar" class="navbar navbar-default navbar-inverse collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav" id="meniu">
                <li><a href="{{ path('homepage') }}">Acasă</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produse <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('tamplarie_pvc') }}">Tamplarie PVC</a></li>
                        <li><a href="{{ path('glafuri') }}">Glafuri</a></li>
                        <li><a href="{{ path('porti_garaj') }}">Porti de garaj</a></li>
                        <li><a href="{{ path('tehnica_parasolara') }}">Tehnica parasolara</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('cerere_oferta') }}">Cerere oferta</a></li>
                <li><a href="{{ path('servicii') }}">Servicii</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li><a href="{{ path('shopping_cart_show') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a>
                    </li>
                    <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
                    </li>
                {% else %}
                    <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-user"></span> Log in</a></li>
                    <li><i class="fa fa-envelope"></i><a href="/register.php">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</nav>