{% block form_row %}
    <div class="form-group">
        {{- form_label(form, null, {label_attr: {class: 'control-label col-sm-2'}}) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{% endblock form_row %}
{% block form_widget_simple %}
    {%- set type = type|default('text') -%}
    {% set attrclass = attr.class is defined ? attr.class ~ ' form-control' : 'form-control' %}
    {% set attr = attr|merge({'class': attrclass}) %}
    <div class="col-sm-10">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endblock form_widget_simple -%}
{% block textarea_widget %}
    {% set attrclass = attr.class is defined ? attr.class ~ ' form-control' : 'form-control' %}
    {% set attr = attr|merge({'class': attrclass}) %}
    <div class="col-sm-10">
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{% endblock textarea_widget %}